# ID2214/FID3214 Assignment 1 Group no. [enter]
### Project members: 
[Ivan Klabucar, klabucar@kth.se]
[Nicola Toscan, toscan@kth.se]
[Santiago Carlino, smcr@kth.se]

### Declaration:
By submitting this solution, it is hereby declared that all individuals listed above have contributed to the solution, either with code that appear in the final solution below, or with code that has been evaluated and compared to the final solution, but for some reason has been excluded. It is also declared that all project members fully understand all parts of the final solution and can explain it upon request.

It is furthermore declared that the code below is a contribution by the project members only, and specifically that no part of the solution has been copied from any other source (except for lecture slides at the course ID2214/FID3214) and no part of the solution has been provided by someone not listed as project member above.

It is furthermore declared that it has been understood that no other library/package than the Python 3 standard library, NumPy and pandas may be used in the solution for this assignment.

### Instructions
All parts of the assignment starting with number 1 below are mandatory. Satisfactory solutions
will give 1 point (in total). If they in addition are good (all parts work more or less 
as they should), completed on time (submitted before the deadline in Canvas) and according
to the instructions, together with satisfactory solutions of all parts of the assignment starting 
with number 2 below, then the assignment will receive 2 points (in total).

Note that you do not have to develop the code directly within the notebook
but may instead copy the comments and test cases to a more convenient development environment
and when everything works as expected, you may paste your functions into this
notebook, do a final testing (all cells should succeed) and submit the whole notebook 
(a single file) in Canvas (do not forget to fill in your group number and names above).

## Load NumPy and pandas

In [3]:
import numpy as np
import pandas as pd

## 1a. Create and apply column filter

In [6]:
# Insert the functions create_column_filter and apply_column_filter below (after the comments)
#
# Input to create_column_filter:
# df - a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_filter:
# df            - a new dataframe, where columns, except "CLASS" and "ID", containing only missing values 
#                 or only one unique value (apart from the missing values) have been dropped
# column_filter - a list of the names of the remaining columns, including "CLASS" and "ID"
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Iterate through all columns and consider to drop a column only if it is not labeled "CLASS" or "ID"
#
# Hint 3: You may check the number of unique (non-missing) values in a column by applying the pandas functions
#         dropna and unique to drop missing values and get the unique (remaining) values
#
# Input to apply_column_filter:
# df            - a dataframe
# column_filter - a list of the names of the columns to keep (see above)
#
# Output from apply_column_filter:
# df - a new dataframe, where each column that is not included in column_filter has been dropped
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)


def create_column_filter(df):
    df_copy = df.copy()
    cols = [x for x in df.columns if not (x == 'CLASS' or x == 'ID')]
    not_dropped = df_copy.loc[:, cols].dropna(how='all', axis='columns').columns
    df_copy.drop(columns=[c for c in cols if not c in not_dropped], inplace=True)
    for c in df_copy:
        if c == 'CLASS' or c == 'ID': continue
        u_vals = pd.unique(df_copy[c])
        num_of_unique = len(u_vals)
        if pd.isna(u_vals).any(): num_of_unique -= 1
        if num_of_unique == 1: df_copy.drop(columns=c,inplace=True)
    return df_copy, list(df_copy.columns)

def apply_column_filter(df, column_filter):
    new_df = df.copy()
    to_drop = [c for c in new_df.columns if c not in column_filter]
    new_df.drop(columns=to_drop, inplace=True)
    return new_df

In [7]:
# Test your code (leave this part unchanged)

df = pd.DataFrame({"CLASS":[1,0,1,0,1],"A":[1,2,np.nan,4,5],"B":[1,1,1,1,np.nan],"C":["h","h",np.nan,"i","h"],"D":[np.nan,np.nan,np.nan,np.nan,np.nan]})

filtered_df, column_filter = create_column_filter(df)

new_df = pd.DataFrame({"CLASS":[1,0,0],"A":[4,5,6],"B":[1,2,1],"C":[np.nan,np.nan,np.nan],"D":[np.nan,4,5]})

filtered_new_df = apply_column_filter(new_df,column_filter)

display("df",df)
display("filtered_df",filtered_df)
display("new_df",new_df)
display("filtered_new_df",filtered_new_df)

'df'

   CLASS    A    B    C   D
0      1  1.0  1.0    h NaN
1      0  2.0  1.0    h NaN
2      1  NaN  1.0  NaN NaN
3      0  4.0  1.0    i NaN
4      1  5.0  NaN    h NaN

'filtered_df'

   CLASS    A    C
0      1  1.0    h
1      0  2.0    h
2      1  NaN  NaN
3      0  4.0    i
4      1  5.0    h

'new_df'

   CLASS  A  B   C    D
0      1  4  1 NaN  NaN
1      0  5  2 NaN  4.0
2      0  6  1 NaN  5.0

'filtered_new_df'

   CLASS  A   C
0      1  4 NaN
1      0  5 NaN
2      0  6 NaN

## 1b. Create and apply normalization

In [4]:
# Insert the functions create_normalization and apply_normalization below (after the comments)
#
# Input to create_normalization:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
# normalizationtype: "minmax" (default) or "zscore"
#
# Output from create_normalization:
# df            - a new dataframe, where each numeric value in a column has been replaced by a normalized value
# normalization - a mapping (dictionary) from each column name to a triple, consisting of
#                ("minmax",min_value,max_value) or ("zscore",mean,std)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID"),
#         the other columns should remain unchanged
#
# Hint 3: Take a close look at the lecture slides on data preparation
#
# Input to apply_normalization:
# df            - a dataframe
# normalization - a mapping (dictionary) from column names to triples (see above)
#
# Output from apply_normalization:
# df - a new dataframe, where each numerical value has been normalized according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: For minmax-normalization, you may consider to limit the output range to [0,1]

def apply_normalization(df, normalization):
    new_df = df.copy()
    for c in normalization:
        n_type, offset, div = normalization[c]
        if n_type == 'minmax': div -= offset
        new_df[c] = new_df[c].apply(lambda x: (x - offset)/div)
    return new_df

def create_normalization(df, normalizationtype='minmax'):
    normalization = dict()
    for c in df:
        if c in ['CLASS', 'ID']: continue
        if df[c].dtype not in [int, float]: continue
        if normalizationtype == 'minmax':
            normalization[c] = ('minmax', df[c].min(), df[c].max())
        elif normalizationtype == 'zscore':
            normalization[c] = ('zscore', df[c].mean(), df[c].std())
    return apply_normalization(df, normalization), normalization

In [17]:
# Test your code (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_norm, normalization = create_normalization(glass_train_df,normalizationtype="minmax")
print("normalization:\n")
for f in normalization:
    print("{}:{}".format(f,normalization[f]))

print()
    
glass_test_norm = apply_normalization(glass_test_df,normalization)
display("glass_test_norm",glass_test_norm)

normalization:

RI:('minmax', 1.51131, 1.53125)
Na:('minmax', 10.73, 15.79)
Mg:('minmax', 0.0, 4.49)
Al:('minmax', 0.29, 3.04)
Si:('minmax', 69.81, 75.18)
K:('minmax', 0.0, 6.21)
Ca:('minmax', 5.43, 14.68)
Ba:('minmax', 0.0, 3.15)
Fe:('minmax', 0.0, 0.37)

'glass_test_norm'

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,CLASS
0,101,0.262788,0.399209,0.634744,0.418182,0.644320,0.091787,0.363243,0.034921,0.594595,2
1,104,0.799398,0.606719,0.701559,0.134545,0.141527,0.012882,0.671351,0.000000,0.000000,2
2,44,0.541123,0.592885,0.855234,0.156364,0.363128,0.027375,0.465946,0.000000,0.000000,1
3,17,0.327482,0.385375,0.817372,0.316364,0.614525,0.098229,0.353514,0.000000,0.000000,1
4,81,0.231194,0.420949,0.783964,0.665455,0.530726,0.111111,0.274595,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...
102,80,0.230191,0.413043,0.783964,0.585455,0.567970,0.111111,0.274595,0.000000,0.000000,2
103,141,0.280341,0.513834,0.788419,0.480000,0.508380,0.109501,0.289730,0.000000,0.000000,2
104,14,0.309428,0.420949,0.792873,0.356364,0.633147,0.086957,0.318919,0.000000,0.459459,1
105,132,0.743731,0.586957,0.000000,0.389091,0.266294,0.030596,0.865946,0.000000,0.270270,2
106,102,0.300401,0.320158,0.605791,0.487273,0.569832,0.112721,0.410811,0.000000,0.000000,2

### Comment on assumptions, things that do not work properly, etc.

## 1c. Create and apply imputation

In [5]:
# Insert the functions create_imputation and apply_imputation below (after the comments)
#
# Input to create_imputation:
# df: a dataframe (where the column names "CLASS" and "ID" have special meaning)
#
# Output from create_imputation:
# df         - a new dataframe, where each missing numeric value in a column has been replaced by the mean of that column 
#              and each missing categoric value in a column has been replaced by the mode of that column
# imputation - a mapping (dictionary) from column name to value that has replaced missing values
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Handle columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID") in one way
#         and columns of type "object" and "category" in other ways
#
# Hint 3: Consider using the pandas functions mean and mode respectively, as well as fillna
#
# Hint 4: In the rare case of all values in a column being missing*, replace numeric values with 0,
#         object values with "" and category values with the first category (cat.categories[0])  
#
#         *Note that this will not occur if the previous column filter function has been applied
#
# Input to apply_imputation:
# df         - a dataframe
# imputation - a mapping (dictionary) from column name to value that should replace missing values
#
# Output from apply_imputation:
# df - a new dataframe, where each missing value has been replaced according to the mapping
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using fillna

def apply_imputation(df, imputation):
    new_df = df.copy()
    for c in imputation:
        new_df[c].fillna(imputation[c], inplace=True)
    return new_df

def create_imputation(df):
    imputation = dict()
    for c in df:
        if c in ['CLASS', 'ID']: continue
        if df[c].dtype in [int, float]:
            mean = df[c].mean()
            if pd.isna(mean): mean = 0
            imputation[c] = mean
        elif df[c].dtype.name == 'category':
            mode = df[c].mode()
            if len(mode) == 0: mode = df[c].cat.categories[0]
            else: mode = mode[0]
            imputation[c] = mode
        elif df[c].dtype.name == 'object':
            mode = df[c].mode()
            if len(mode) == 0: mode = ''
            else: mode = mode[0]
            imputation[c] = mode
    
    return apply_imputation(df, imputation), imputation

In [6]:
# Test your code (leave this part unchanged)

anneal_train_df = pd.read_csv("anneal_train.csv")
anneal_test_df = pd.read_csv("anneal_test.csv")

anneal_train_imp, imputation = create_imputation(anneal_train_df)
anneal_test_imp = apply_imputation(anneal_test_df,imputation)

print("Imputation:\n")
for f in imputation:
    print("{}:{}".format(f,imputation[f]))

print("\nNo. of replaced missing values in training data:\n{}".format(anneal_train_imp.count()-anneal_train_df.count()))
print("\nNo. of replaced missing values in test data:\n{}".format(anneal_test_imp.count()-anneal_test_df.count()))

Imputation:

family:TN
product-type:C
steel:A
carbon:3.859688195991091
hardness:13.084632516703786
temper_rolling:T
condition:S
formability:2.2517482517482517
strength:26.302895322939868
non-ageing:N
surface-finish:P
surface-quality:E
enamelability:1.7142857142857142
bc:Y
bf:Y
bt:Y
bw/me:B
bl:Y
m:0
chrom:C
phos:P
cbond:Y
marvi:0
exptl:0
ferro:Y
corr:0
blue-bright-varn-clean:B
lustre:Y
jurofm:0
s:0
p:0
shape:SHEET
thick:1.1911937639198218
width:769.4917594654788
len:1229.293986636971
oil:Y
bore:35.18930957683742
packing:3.0

No. of replaced missing values in training data:
family                    382
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            374
condition                 160
formability               163
strength                    0
non-ageing                391
surface-finish            444
surface-quality           128
enamelability             442
bc                        448
bf                        401
bt                        411
bw/me                     349
bl                        377
m                         449
chrom                     432
phos                      447
cbond                     408
marvi                     449
exptl                     449
ferro                     433
corr                      449
blue-bright-varn-clean    445
lustre                    425
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       414
bore                        0
packing                   445
CLASS                       0
dtype: int64

No. of replaced missing values in test data:
family                    390
product-type                0
steel                      43
carbon                      0
hardness                    0
temper_rolling            387
condition                 143
formability               155
strength                    0
non-ageing                402
surface-finish            445
surface-quality           116
enamelability             440
bc                        449
bf                        368
bt                        413
bw/me                     338
bl                        372
m                         449
chrom                     440
phos                      444
cbond                     416
marvi                     449
exptl                     447
ferro                     435
corr                      449
blue-bright-varn-clean    447
lustre                    422
jurofm                    449
s                         449
p                         449
shape                       0
thick                       0
width                       0
len                         0
oil                       420
bore                        0
packing                   444
CLASS                       0
dtype: int64

### Comment on assumptions, things that do not work properly, etc.

## 1d. Create and apply discretization

In [11]:
# Insert the functions create_bins and apply_bins below
#
# Input to create_bins:
# df      - a dataframe
# nobins  - no. of bins (default = 10)
# bintype - either "equal-width" (default) or "equal-size" 
#
# Output from create_bins:
# df      - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Discretize columns of type "float" or "int" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider using pd.cut and pd.qcut respectively, with labels=False and retbins=True
#
# Hint 4: Set all columns in the new dataframe to be of type "category"
#
# Hint 5: Set the categories of the discretized features to be [0,...,nobins-1]
#
# Hint 6: Change the first and the last element of each binning to -np.inf and np.inf respectively 
#
# Input to apply_bins:
# df      - a dataframe
# binning - a mapping (dictionary) from column name to bins (threshold values for the bin)
#
# Output from apply_bins:
# df - a new dataframe, where each numeric feature value has been replaced by a categoric (corresponding to some bin)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider using pd.cut 
#
# Hint 3: Set all columns in the new dataframe to be of type "category"
#
# Hint 4: Set the categories of the discretized features to be [0,...,nobins-1]

def apply_bins(df, binning):
    new_df = df.copy()
    for c in binning:
        num_of_bins = len(binning[c]) - 1
        categories = [i for i in range(num_of_bins)]
        new_df[c] = pd.cut(new_df[c], binning[c], labels=categories)
    return new_df

def create_bins(df, nobins=10, bintype='equal-width'):
    binning = dict()
    for c in df:
        if c in ['CLASS', 'ID']: continue
        if not df[c].dtype in [int, float]: continue
        bins = None
        if bintype == 'equal-width': _, bins = pd.cut(df[c], nobins, duplicates='drop', retbins=True)
        elif bintype == 'equal-size': _, bins = pd.qcut(df[c], nobins, duplicates='drop', retbins=True)
        bins[0] = -np.inf
        bins[-1] = np.inf
        binning[c] = bins
    
    return apply_bins(df, binning), binning

In [12]:
# Test your code  (leave this part unchanged)

glass_train_df = pd.read_csv("glass_train.csv")

glass_test_df = pd.read_csv("glass_test.csv")

glass_train_disc, binning = create_bins(glass_train_df,nobins=10,bintype="equal-size")
print("binning:")
for f in binning:
    print("{}:{}".format(f,binning[f]))

print()    
glass_test_disc = apply_bins(glass_test_df,binning)
display("glass_test_disc",glass_test_disc)

binning:
RI:[    -inf 1.515896 1.51618  1.516516 1.516866 1.51753  1.517902 1.518618
 1.520114 1.521846      inf]
Na:[  -inf 12.73  12.872 13.    13.222 13.38  13.492 13.794 14.198 14.82
    inf]
Mg:[ -inf 1.82  3.188 3.41  3.476 3.55  3.61  3.728   inf]
Al:[ -inf 0.906 1.172 1.23  1.348 1.48  1.54  1.622 1.808 2.094   inf]
Si:[  -inf 71.756 72.196 72.388 72.72  72.79  72.966 73.06  73.208 73.372
    inf]
K:[ -inf 0.006 0.148 0.39  0.54  0.576 0.6   0.636 0.67    inf]
Ca:[  -inf  7.978  8.112  8.338  8.554  8.67   8.81   9.032  9.674 10.924
    inf]
Ba:[-inf 0.78  inf]
Fe:[ -inf 0.062 0.118 0.24    inf]

'glass_test_disc'

      ID RI Na Mg Al Si  K Ca Ba Fe  CLASS
0    101  3  1  1  4  8  4  5  0  2      2
1    104  9  7  1  0  0  1  9  0  0      2
2     44  9  6  7  0  1  2  8  0  0      1
3     17  5  0  6  1  7  6  5  0  0      1
4     81  1  1  4  9  3  8  0  0  0      2
..   ... .. .. .. .. .. .. .. .. ..    ...
102   80  1  1  4  8  5  8  0  0  0      2
103  141  4  4  4  6  3  8  1  0  0      2
104   14  4  1  5  3  8  3  3  0  2      1
105  132  9  6  0  4  0  2  9  0  1      2
106  102  4  0  1  7  5  8  7  0  0      2

[107 rows x 11 columns]

### Comment on assumptions, things that do not work properly, etc.

## 1e. Create and apply one-hot encoding

In [70]:
# Insert the functions create_one_hot and apply_one_hot below
#
# Input to create_one_hot:
# df: a dataframe
#
# Output from create_one_hot:
# df      - a new dataframe, where each categoric feature has been replaced by a set of binary features 
#           (as many new features as there are possible values)
# one_hot - a mapping (dictionary) from column name to a set of categories (possible values for the feature)
#
# Hint 1: First copy the input dataframe and modify the copy (the input dataframe should be kept unchanged)
#
# Hint 2: Consider columns of type "object" or "category" only (and which are not labeled "CLASS" or "ID")
#
# Hint 3: Consider creating new column names by merging the original column name and the categorical value
#
# Hint 4: Set all new columns to be of type "float"
#
# Hint 5: Do not forget to remove the original categoric feature
#
# Input to apply_one_hot:
# df      - a dataframe
# one_hot - a mapping (dictionary) from column name to categories
#
# Output from apply_one_hot:
# df - a new dataframe, where each categoric feature has been replaced by a set of binary features
#
# Hint: See the above Hints

def apply_one_hot(df, one_hot):
    df_new = df.copy()
    for c in df_new:
        if c in ['CLASS', 'ID']: continue
        if not df_new[c].dtype.name in ['category', 'object']: continue
        unique_values = one_hot[c]

        for v in unique_values:
            df_new[f"{c}-{v}"] = df_new[c].map(lambda x: 1.0 if x == v else 0.0)
        del df_new[c]

    return df_new

def create_one_hot(df):
    df_new = df.copy()
    df_new.drop(['CLASS'], inplace=True, axis=1)
    one_hot = {}

    for c in df_new:
        if c in ['CLASS', 'ID']: continue
        if not df_new[c].dtype.name in ['category', 'object']: continue
        unique_values = sorted(df_new[c].unique())
        one_hot[c] = unique_values

    return apply_one_hot(df, one_hot), one_hot

In [71]:
# Test your code  (leave this part unchanged)

train_df = pd.read_csv("tic-tac-toe_train.csv")

new_train, one_hot = create_one_hot(train_df)

test_df = pd.read_csv("tic-tac-toe_test.csv")

new_test_df = apply_one_hot(test_df,one_hot)
display("new_test_df",new_test_df)

'new_test_df'

,CLASS,top-left-square-b,top-left-square-o,top-left-square-x,top-middle-square-b,top-middle-square-o,top-middle-square-x,top-right-square-b,top-right-square-o,top-right-square-x,...,middle-right-square-x,bottom-left-square-b,bottom-left-square-o,bottom-left-square-x,bottom-middle-square-b,bottom-middle-square-o,bottom-middle-square-x,bottom-right-square-b,bottom-right-square-o,bottom-right-square-x
0,positive,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,positive,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,positive,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
3,negative,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,positive,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,positive,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
475,negative,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
476,positive,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
477,positive,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
478,negative,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

### Comment on assumptions, things that do not work properly, etc.

## 1f. Divide a dataset into a training and a test set

In [96]:
# Insert the function split below
#
# Input to split:
# df           - a dataframe
# testfraction - a float in the range (0,1) (default = 0.5)
#
# Output from split:
# trainingdf - a dataframe consisting of a random sample of (1-testfraction) of the rows in df
# testdf     - a dataframe consisting of the rows in df that are not included in trainingdf
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes where a 
#       prefix corresponds to the test instances, and the suffix to the training instances 

def split(df, testfraction=0.5):
    permuted_indexes = np.random.permutation(df.index)
    N =  int(np.round(len(permuted_indexes) * testfraction))
    test_i = permuted_indexes[N:]
    train_i = permuted_indexes[:N]
    return df.iloc[list(test_i)], df.iloc[list(train_i)]

In [97]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_train, glass_test = split(glass_df,testfraction=0.25)

print("Training IDs:\n{}".format(glass_train["ID"].values))

print("\nTest IDs:\n{}".format(glass_test["ID"].values))

print("\nOverlap: {}".format(set(glass_train["ID"]).intersection(set(glass_test["ID"]))))

Training IDs:
[206 198  13  20 105   5 176 106  73 122  45  49  62 101 127  72 202 157
   6 178  97 140 131  47  99  76 102  41 132  90  67  94 195 169 155 211
  43  10  21  63  79 142 124  78  50 184  11  65 209  19 159 164 148 162
  77 205 172 110 146 107  15 145 126 167 186 197 129 189  27 201  17  16
  85 194 212 120 181 109   9  82 153 128 125 200  89 154 213  40  70 112
  98 113 193 161 156 196 135  28 138 188   7  92  25 104  74  34 147  14
   8 166 168 207 203  55   4  71 204  87 210 143  44  42  60 134  84  26
 190 114  81 136  29  88  30  57 175  22 149 158 173 191   2 117 115  56
  54 160  51 144 180  68  96  61 100 177 137  83 179  53  12 152]

Test IDs:
[116  48 118  46  95  91 119  38 139 150 130 141 121  39  69 103  31 133
  75  64  80 182  37   1   3  52  18  36 174 183 163  58 123 208  32 187
 165 170  93  66  35 108  33 111  24  59 151 171  23 214 185 199  86 192]

Overlap: set()

### Comment on assumptions, things that do not work properly, etc.

## 1g. Calculate accuracy of a set of predictions

In [105]:
# Insert the function accuracy below
#
# Input to accuracy:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from accuracy:
# accuracy - the fraction of cases for which the predicted class label coincides with the correct label
#
# Hint: In case the label receiving the highest probability is not unique, you may
#       resolve that by picking the first (as ordered by the column names) or 
#       by randomly selecting one of the labels with highest probaility.

def accuracy(df, correctlabels):
    m = df.idxmax(axis="columns")
    return sum([ 1 if r == label else 0 for r, label in zip(m, correctlabels)]) / len(m)

In [103]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})
display("predictions",predictions)

'predictions'

      A     B     C
0  0.50  0.50  0.00
1  0.50  0.25  0.25
2  0.50  0.25  0.25
3  0.25  0.50  0.25
4  0.25  0.25  0.50

In [109]:
correctlabels = ["B","A","B","B","C"]

print("Accuracy: {}".format(accuracy(predictions,correctlabels))) # Note that depending on how ties are resolved the accuracy may be 0.6 or 0.8

Accuracy: 0.6

### Comment on assumptions, things that do not work properly, etc.

## 2a. Divide a dataset into a number of folds

In [8]:
# Insert the function folds below
#
# Input to folds:
# df      - a dataframe
# nofolds - an integer greater than 1 (default = 10)
#
# Output from folds:
# folds - a list (of length = nofolds) dataframes consisting of random non-overlapping, 
#         approximately equal-sized subsets of the rows in df
#
# Hint: You may use np.random.permutation(df.index) to get a permuted list of indexes from which a 
#       prefix corresponds to the test instances, and the suffix to the training instances 

def folds(df, nofolds=10):
    permuted_indexes = np.random.permutation(df.index)
    buckets = [ [] for i in range(nofolds) ]
    c = 0
    for i in permuted_indexes:
        buckets[c % nofolds].append(i)
        c += 1
    return [df.iloc[indexes] for indexes in buckets]

    # permuted_indexes = np.random.permutation(df.index)
    # N =  int(np.round(len(permuted_indexes) / nofolds))
    # return [ df.iloc[list(permuted_indexes[i*N:(i+1)*N])] for i in range(nofolds) ]

In [10]:
# Test your code  (leave this part unchanged)

glass_df = pd.read_csv("glass.csv")

glass_folds = folds(glass_df,nofolds=5)

fold_sizes = [len(f) for f in glass_folds]

print("Fold sizes:{}\nTotal no. instances: {}".format(fold_sizes,sum(fold_sizes)))

Fold sizes:[43, 43, 43, 43, 42]
Total no. instances: 214

### Comment on assumptions, things that do not work properly, etc.

## 2b. Calculate Brier score of a set of predictions

In [56]:
# Insert the function brier_score below
#
# Input to brier_score:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from brier_score:
# brier_score - the average square error of the predicted probabilties 
#
# Hint: Compare each predicted vector to a vector for each correct label, which is all zeros except 
#       for at the index of the correct class. The index can be found using np.where(df.columns==l)[0] 
#       where l is the correct label.

def brier_score(df, correctlabels):
    nLabels = len(df.columns)
    labelMaps = [ np.zeros(nLabels) for _ in range(len(correctlabels)) ]
    for l, lm in zip(correctlabels, labelMaps):
        lm[np.where(df.columns==l)[0][0]] = 1.0

    ress = []
    for index, row in df.iterrows():
        msq = 0.0
        for i in range(nLabels):
            msq += (labelMaps[index][i] - row[i]) ** 2
        ress.append(msq)
    return sum(ress) / len(ress)

In [57]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("Brier score: {}".format(brier_score(predictions,correctlabels)))

Brier score: 0.5

### Comment on assumptions, things that do not work properly, etc.

## 2c. Calculate AUC of a set of predictions

In [21]:
# Insert the function auc below
#
# Input to auc:
# df            - a dataframe with class labels as column names and each row corresponding to
#                 a prediction with estimated probabilities for each class
# correctlabels - an array (or list) of the correct class label for each prediction
#                 (the number of correct labels must equal the number of rows in df)
#
# Output from auc:
# auc - the weighted area under ROC curve
#
# Hint 1: Calculate the binary AUC first for each class label c, i.e., treating the
#         predicted probability of this class for each instance as a score; the true positives
#         are the ones belonging to class c and the false positives the rest
#
# Hint 2: When calculating the binary AUC, first find the scores of the true positives and then
#         the scores of the true negatives
#
# Hint 3: You may use a dictionary with a mapping from each score to an array of two numbers; 
#         the number of true positives with this score and the number of true negatives with this score
#
# Hint 4: Created a (reversely) sorted (on the scores) list of pairs from the dictionary and
#         iterate over this to additively calculate the AUC
#
# Hint 5: For each pair in the above list, there are three cases to consider; the no. of false positives
#         is zero, the no. of true positives is zero, and both are non-zero
#
# Hint 6: Calculate the weighted AUC by summing the individual AUCs weighted by the relative
#         frequency of each class (as estimated from the correct labels)

In [22]:
# Test your code  (leave this part unchanged)

predictions = pd.DataFrame({"A":[0.9,0.9,0.6,0.55],"B":[0.1,0.1,0.4,0.45]})

correctlabels = ["A","B","B","A"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.375

In [23]:
predictions = pd.DataFrame({"A":[0.5,0.5,0.5,0.25,0.25],"B":[0.5,0.25,0.25,0.5,0.25],"C":[0.0,0.25,0.25,0.25,0.5]})

correctlabels = ["B","A","B","B","C"]

print("AUC: {}".format(auc(predictions,correctlabels)))

AUC: 0.8499999999999999

### Comment on assumptions, things that do not work properly, etc.